@import "tailwindcss";

@utility screen { @apply w-screen h-screen }
@utility scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root {
    --bg-yeast-green: #45CC00;
    --bg-yeast-blue: #0045CC;
    --bg-yeast-pink: #CC0045;
}

#root {
    @apply screen
}